body {
  background: url('https://images8.alphacoders.com/374/374852.jpg') no-repeat center center fixed;
}

.App {
  text-align: center;
  /* background-image: url('https://images8.alphacoders.com/374/374852.jpg'); */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* background- */
  color: white;
}



.App-logo {
  /* animation: App-logo-spin infinite 5s linear; */
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.rover-pictures {
  max-width: 50%;
  display: block;
  margin: 15px auto;
  height: 550px;
  border-radius: 20px;
}

.Login, .Signup {
  background-color: black;
  max-width: 50%;
  margin: auto;
}

.roverImg {
  margin: 20px 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
